.venues-sorting-container {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    justify-content: space-between;
    background-color: rgb(214, 214, 214);
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;

}

.sort-button {
    padding: 0.3rem;
    margin: 0 1rem;
    font-size: 1rem;

}

.venues-container {
    display: flex;
    max-width: 80vw;
    margin: 2rem auto;
    background-color: rgb(231, 231, 231);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}

@media only screen and (max-width: 670px){
    .venues-container{
        display: block;
        
    }
}
    


.venue-description {
    margin-left: 1rem;
    padding-right: 1rem;
}

.venue-name {
    color: blue;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.venue-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.venue-type {
    margin: 0.5rem 0;
    font-weight: 100;
}

.venue-about {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 100;
}

.venue-location {
    font-weight: 500;
    margin: 1rem 0;
}



.venue-image {
    min-width: 90%;
}

@media only screen and (max-width: 670px){
    .venue-image-container{
        width: 40%;
        margin: 0 auto;

    }
    .venue-image {
        width: 10%;
    }
    .venue-type {
        margin: 1rem 0;
        font-weight: 100;
    }
    
    .venue-about {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 100;
    }
    
    .venue-location {
        font-weight: 500;
        margin: 1rem 0;
    }

}

@media only screen and (max-width: 600px){
    .venues-sorting-container{
        display: block;
        text-align: center;
    }
    .sort-button{
        margin: 1rem;
    }

}


.main {
    max-width: 90%;
    margin: 0 auto;
}

.sorting-icon {
    padding-right: 0.3rem;
    font-size: 1rem;
}